body{
    overflow-x: hidden;

    margin:0;
    padding:0;
    white-space: nowrap;
}

.animation-container{
    padding-top: 2%;
}

.text-animation{
    margin: 0;
    padding: 0;
    font-size: 3vw;
}
.stationary{
    margin-left: -20%;
}

.row1{
    animation: animation1 120s ease-in-out -5s infinite;
    
}

.row2{
    animation: animation1 100s ease-in-out -2s infinite reverse ;

}

.row3{
    animation: animation1 110s ease-in-out infinite reverse ;

}

.row-book-list{
    animation: animation3 50s ease-in-out -5s infinite reverse ;
}

.row-create{
    animation: animation3 50s ease-in-out -1s infinite  ;
}



@keyframes animation1 {
    0%{
        margin-left:-400%;
    }
    50%{
        margin-left:-20%;
    }
    100%{
        margin-left:-400%;
    }

}


@keyframes animation3 {
    0%{
        margin-left:-200%;
    }
    50%{
        margin-left:-40%;
    }
    100%{
        margin-left:-200%;
    }

}





.book-list-link{
    text-decoration: none;
    color:var(--secondary);
    text-shadow: none;

}

.book-list-link:hover{
    text-decoration: none;
    color:var(--secondary);
    font-weight: bold;
}

.name{
    font-size: 4vw;
    font-weight: bold;
    cursor: default;

}


@keyframes animation4{

}

@media screen and (max-width:1000px) {
    .text-animation{
        font-size: 50px;
    }

    .name{
        font-size: 60px;
    }
}

