:root{
    --header: #368F8B;
    --secondary: #FC7753;
    --background1: #160f29;
    --text-colour:white;
    --highlight1: #fc7753;

}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.NavbarItems{
    position:fixed;
    width: 100%;
    
    background-color: var(--header);
    height: 80px;

    display:flex ;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
}

.nav-links:hover{
    color:white;

}

.navbar-logo{
    text-decoration: none;
    color:var(--text-colour);
    /*Justify self sets the way the box is justified inside its alignment container along with the appropriate axis. So start will align it to the left */
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-logo-2{
    text-decoration: none;
    color:var(--text-colour);
    /*Justify self sets the way the box is justified inside its alignment container along with the appropriate axis. So start will align it to the left */
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-logo-2:hover{
    color: white;
}


.book-icon{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

/*Editing the container of the nav bar and how the items are aligned. Display grid and grid-template makes the items side by side */
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style-type: none;
    text-align: center;
    width:70vw;
    justify-content: end;
    margin-right: 2rem;
    margin-bottom: 0;
}


.nav-links{
    text-decoration: none;
    color: var(--text-colour);
    padding: 0.5rem 1rem;
}



.fa-bars{
    color: white;
}


.nav-links-mobile{
    display: none;
}

/*hamburger menu*/
.menu-icon{
    display: none;
}




@media screen and (max-width: 1000px){
    .NavbarItems{
        position: relative;

    }

    /*The ul*/
    .nav-menu-active{
        background-color: var(--background1);
        
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:80px;
        left: 100;
        opacity: 1;
        transition: all 1s ease;
        margin: 0;
        padding:0;
        z-index: 1;
        
    }

    .nav-menu{
        display:none;
        list-style: none;
        background-color:pink;
        left: 0%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding:2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: var(--highlight1);
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top:0;
        left:0;
        transform: translate(15%,50%);

    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50%;
        transform: translate(-100%,50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color:white;
    }

    .nav-links-mobile{
        
        display: block;
        text-align: center;
        padding:1.5rem;
        margin: 2rem auto;
        width: 80%;
    }

    .hover-underline-animation:after {
        background-color: transparent;
    }
    

}
